.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.rsvp-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.description {
    margin: 20px 0 20px 0;
}

.attendance .who {
    margin-bottom: 5px;
}

.attendance .invite {
    text-align: center;
}

input.chosen {
    font-weight: bold;
}

.map {
    position: relative;
    background-image: url('/soma.png');
    background-position: -20px -20px;
    width: 500px;
    height: 500px;
}

.map circle.public {
    fill: #49AFCD;
}

.map circle.private {
    fill: #DA4F49;
}

.map text {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
}

.map circle.callout {
    stroke-width: 5px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}

.attribution {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    padding-bottom: 0;
}


body { background: #f4f8f9 }
#Items {

}
#Logo {
    position: absolute;
    background: url('/Logo.png');
    width: 584px;
    height: 174px;
    top: 50px;
    left: 50%;
    margin-left: -292px;
}
.Close {
    width: 20px;
    height: 20px;
    position: relative;
    left: 325px;
    top: 10px;
    cursor: pointer;
    background: url("/Close.png");
}
#DateStr {
    position: relative;
    top: 48px;
    left: 100px;
    text-align: center;
    width: 218px;
    font-family: Calibri;
    color: #fff;
    font-size: 18px;
}
#LastMonth {
    position: relative;
    top: 24px;
    width: 28px;
    height: 28px;
    background: transparent;
    left: 60px;
}
#NextMonth {
    position: relative;
    width: 28px;
    height: 28px;
    background: transparent;
    left: 330px;
}
#Calendar {

}
#CalendarTop {
    width: 410px;
    height: 105px;
    background: url("/CalendarTop.png");
}
#NumberArea {
    width: 304px;
    margin-top: -11px;
    margin-left: 48px;
}
#CalendarBottom {
    width: 410px;
    height: 30px;
    background: url("/CalendarBottom.png");
}
.Day {
    width: 40px;
    height: 28px;
    padding-top: 12px;
    text-align: center;
    display: inline-block;
    font-family: Calibri;
}
.Day:hover,
.DaySelected { background: url("/CalendarHighlight.png") }
.Event { background: url("/Event.png") }
.EventDaySelected { background: url("/EventDaySelected.png") }
#CalendarDays {
    position: relative;
    width: 410px;
    padding: 10px;
    background: url("/CalendarRow.png");
    background-repeat: repeat-y;
}
.Clear {
    margin: 0;
    padding: 0;
}
#ItemsTop {
    background: url('/Todo_Top.png');
    background-repeat: no-repeat;
    width: 579px;
    height: 152px;
}
#ItemsButton {
    position: relative;
    top: 45px;
    left: 59px;
    height: 30px;
    width: 30px;
    background: url('/Button.png');
    cursor: pointer;
}
#ItemsEdit {
    font-size: 18px;
    font-family: Calibri;
    color: #2F2F2F;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    width: 405px;
    height: 30px;
    margin-top: -4px;
    margin-left: -1px;
}
#ItemsButton:active { background: url('/ButtonH.png') }
#Preloader {
    background: url('/ButtonH.png');
    display: none;
}
.ItemsRow {
    background: url('/Todo_White.png');
    background-repeat: no-repeat;
    width: 579px;
    height: 40px;
    position: relative;
}
.ItemsRowAlt {
    background: url('/Todo_Grey.png');
    width: 579px;
    height: 40px;
    position: relative;
}
#ItemsBottom {
    background: url('/Todo_Bottom.png');
    background-repeat: no-repeat;
    width: 579px;
    height: 69px;
}
.Checked {
    width: 26px;
    height: 21px;
    position: absolute;
    top: 9.5px;
    left: 57px;
    background: url('/BoxCheck.png');
}
.Unchecked {
    width: 26px;
    height: 21px;
    position: absolute;
    top: 9.5px;
    left: 57px;
    background: url('/BoxUncheck.png');
}
.Item {
    font-family: Calibri;
    font-size: 18px;
    color: #2F2F2F;
    position: absolute;
    top: 9.5px;
    left: 115px;
}
#TitleDate {
    position: absolute;
    color: #2F2F2F;
    font-family: Calibri;
    top: 122px;
    left: 108px;
    font-size: 22px;
}
.Done {
    color: #4e4e4e;
    text-decoration: line-through;
}

#ButtonRow {
    width: 380px;
    height: 42px;
}

#ItemsEdit:focus,
#ItemsEdit:hover,
#ItemsEdit:active,
#ItemsEdit:target {
    border: 0;
    outline: 0;
}